$fontfamily-subhead: BaskOldFace;

$font-color-subhead: #000000 !default;

$color-white: #FFFFFF;
$color-green: #97B658;
$color-black: #333333;

$bg-color: $color-green;

$font-size-navbar: 24px;
$font-size-title: 30px;




